<h1>任务列表</h1>

<h3>已接任务</h3>
<dl id="accepted">
  <% @my_tasks.each do |my_task| %>
    <%= render 'accepted',:my_task => my_task %>
  <% end %>
</dl>

<br />

<h3>可接任务</h3>
<dl id="acceptables">
  <% @acceptables.each do |my_task| %>
    <%= render 'task',:task => my_task,:id => 'acceptables',:link_path => link_to(t('labels.accept'),my_tasks_path(:task_id => my_task.id),:method=>:post,:remote => true) %>
  <% end %>
</dl>

<br />
