.bundle
db/*.sqlite3
log/*.log
tmp/
config/database.yml
config/unicorn.rb
*.swp
Gemfile
Gemfile.lock
public/images/items/
db/schema.rb
.idea/*
.sass-cache/
tags
vendor/cache/*
public/images/flashes/*
public/assets/*
