<h3>控制面板</h3>
<div class="content">
  <%= link_to t('action.userhomes.index'),'/userhomes'%><br />
  <%= link_to t('action.userhomes.costs'),'/userhomes/costs'%>
  <%#= link_to t('activerecord.models.integral'),'/userhomes/integrals'%>
</div>
