<% @comments = @commentable.comments.paginate(:per_page => 10, :page => params[:comments_page]) %>
  <div class="section" style="width:95%">
    <h3 id="comments_size"><%= "#{@commentable.comments.size}条评论" %></h3>  
    <div id="comments">  
  <% unless @comments.empty? %>  
      <%= render 'comments/livecomments' %>
  <% end %> 
    </div> 
  </div>
  
<div class="section" style="width:95%">
    <h3>评论</h3> 
  <div class="user_show"> 
  <%= render :partial => 'comments/form' %>
  </div>
  <div class="user_hide">
    登录之后你也写几句？
  </div>
</div>
