<div id="goods">
  <ul class="table pretty">  
    <li>名称</li>  
    <li>最低价</li>  
    <li>创建时间</li>  
  </ul>
  <%= render @goods %>
  <div class="r">
    <%= will_paginate @goods %>
  </div>
</div>
