<div class="product_l">
  <%= render 'goods/good_show',:good => @good %>
  <%= render 'comments/comments' %>
</div>
<div class="product_r">
  <%= render 'prices/prices' %>
</div>
<div class="c"></div>
<%= link_to t('labels.back'), goods_path %>

