<div class="product_l">
  <div class="good">
    <%= render 'goods/good_show',:good => @good %>
  </div>
  <%= render 'comments/comments' %>
</div>
<aside>
<% content_for :sidebar do -%>
  <%= render 'prices/prices' %>
<% end -%>
