<% content_for :title do -%>商品Tag信息 尽在<% end -%>
<% content_for :desc do -%>商品Tag信息 尽在神马价。<% end -%>
<% content_for :keywords do -%>Tags,商品Tags,商品Tags信息,<% end -%>
<% content_for :plus do -%>
<div class="good_tags">
<%= render @tags %>
</div>
<% end -%>
