<% tmp1 = "最新、最全的#{"《#{@name}》附近的" if @name}价格信息" %>
<% content_for :title do -%><%= tmp1 %> - <% end if tmp1 -%>
<% content_for :desc do -%><%= tmp1 %>。<% end if tmp1 -%>
<% cache "city_#{params[:id]}_#{params[:page]}_#{@cache_id}" do %>
<div id="good_flows">
  <% prices =  Price.running.near(@value,20).paginate( :page => params[:page]).limit(50) %>
  <% prices.group_by(&:good).each do |good,prices_group| %>
    <%= render 'good_flow',:good => good,:prices => prices_group %>
<% end %>
</div>
<nav id="page-nav" style="display:none;">
  <%= will_paginate prices %> 
</nav>
<% end %>
<script>
  $(function(){
    var gf = $('#good_flows');// .img img').load(function(){$(this).css('height',$(this).height())
      gf.imagesLoaded(function(){
        gf.masonry({
          // options
          itemSelector : '.pin',
          columnWidth : 240,
          isAnimated: true
        });
      });
    gf.infinitescroll({
      navSelector  : '#page-nav',    // selector for the paged navigation 
      nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
      itemSelector : '.pin',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/6RMhx.gif'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          gf.masonry( 'appended', $newElems, true ); 
        });
      }
    );
    });
  </script>
