//= require jquery-ui
//= require easyslide
$main-color: #66CCFF;
$first-color: #FFFFFF;
$second-color: #FF6600;
$font-color: #444;
@mixin rounded-corners($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
body {
  background-color: $first-color;
  color:  $font-color;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin:0;
  padding:0;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
.h{
  display:none;
}
.flash_notice, .flash_error, .flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error, .flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }
}

.error_messages 
{
  p {
    margin: 8px 10px;
  }
  ul {
    margin: 0;
  }
}

.pretty
{
  th 
  {
    .current {  
      padding-right: 12px;  
      background-repeat: no-repeat;  
      background-position: right center;  
    }  
    .asc {   
      background-image: url(/images/up_arrow.gif);   
    }  
        
    .desc {   
      background-image: url(/images/down_arrow.gif);   
    }  
  }
}

a{
  color: $font-color;
  /*text-decoration: none;*/
  img {
  border: none;
  }
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.l{
    float:left;
}
.r{
    float:right;
}
.c{
    clear:both;
}
.m{
  text-align:center;
  margin:auto;
}
.tabs{
    width: 90%;
    margin-top:10px;
}
.tab{
    width:100px;
    float:left;
}
.current_tab{
    background-color:#f00;
}
.mt{
  clear:both;
  margin-top:10px;
  min-height:250px;
  .section{
      width:33%;
      margin-right:0.2%;
      margin-right:0.1%\9;
      a img{
        width:90px;
        height:90px;
      }
  }
}
.ml10{
  margin-left:10px;
}
.section{
    border:solid 1px $main-color;
    float:left;
    position:relative;
    @include rounded-corners(5px);
    li{
      a{
        display:inline;
        white-space:nowrap;
      }
    }
    h3{
      height:25px;
      line-height:25px;
      padding:3px 5px;
      background-color:$main-color;
      color:$first-color;
      a{
        font-size:14px;
        color:$first-color;
      }
    }
    ul,form{
      padding:2px 8px 8px 8px;
      li,div{
        padding:1px 0;
      }
    }
}
.liner{
    border:solid 1px $main-color;
    float:left;
    width:99.5%;
    height:100%;
    @include rounded-corners(5px);
    h3{
      height:25px;
      line-height:25px;
      padding:3px 5px;
      background-color:$main-color;
      color:$first-color;
      a{
        font-size:14px;
        color:$first-color;
      }
    }
    ul{
      padding:2px 8px 8px 8px;
      li,div{
        float:left;
        width:15%;
        margin:5px 0.75%;
        a img{
          max-width:95%;
          max-height:160px;
        }
      }
    }
}
.section li,.articles li{
    list-style-position:inside;
    overflow:hidden;
}
.articles{
    margin-left:20px;
}
.articles_index
{
  li{
    width:90%;
  }
  .date{
      width:200px;
      float:right;
  }
  .title{
      min-width:400px;
  }
}
.product_l{
    float:left;
    width:60%;
    min-width:588px;
    .section{
      margin-bottom:10px;
    }
}
aside{
    margin-left:5px;
    float:left;
    width:35%;
    min-width:337px;
    overflow:hidden;
    .section{
      /*width:95%;*/
    }
}
aside,.product_l{
  .section{
    margin-bottom:10px;
    width:95%;
  }
}
.product_images,.product_attrs{
  display:none;
}
.input{
  width:80px;
}
header{
  min-width:980px;
  background-color: $main-color;
  color: $first-color;
  height:30px;
  overflow:hidden;
  line-height: 27px;
  font-size: 13px/26px;
  border-bottom:solid 1px $second-color;
  a{
    line-height: 27px;
    color: $first-color;
}
.head_left{
  ul
  {
    li{
      height:30px;
      float:left;
      &.current{
        a{
          text-decoration: underline;
          font-weight: bold;
        }
        /*border-top:solid 2px $second-color;*/
      }
      a{
        height: 30px;
        div{
          line-height: 27px;
          height:30px;
          padding:0 10px;
        }
      }
      a:hover{
        div{
          background-color:$second-color;
        }
      }
    }
  }
}
.head_login{
  float:right;
  width:220px;
  text-align:right;
  margin-right:20px;
}
#locate_id{
  width:100px;
}
}



article {
  width: 95%;
  min-width:980px;
  margin: 0 auto;
  /*padding: 20px 40px;*/
  margin-top: 20px;
  clear:both;
  position:relative;
  min-height:300px;
}

.user_show,.user_hide{
  display:none;
}
.flashAD{
  width: 70%;
  height:350px;
}
.flashAD a img{
  width:100%; /*width:683px*/
  height:328px;
}
.table{
  clear:both;
  margin:10px;
  li{
    float:left;
    width:150px;
    overflow:hidden;
}
}
footer{
  padding-top: 20px;
  border-top:solid 1px $main-color;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}
#new_price_good_ff{
  display:none;
}
.good{
  margin-bottom:10px;
}
.good_tags{
  .section{
      width:30%;
      margin-right:10px;
  }
}
/*列表*/
.price{
  padding:5px;
  height:135px;
  border-bottom:dashed 1px black;
  overflow:hidden;
  .l{
    padding:2px;
    a img{
      width:120px;
      height:120px;
    }
  }
  .detail{
    margin-left: 130px;
  }
}
/*详细*/
#price{
  padding:10px;
  overflow:hidden;
  img{
    max-width:95%;
  }
}
.cities{
  width:100%;
}
#cities
{
  height:1500px;
  margin-top:40px;
  div{
    width:33%;
    margin-bottom:5px;
    margin-right:0.25%;
    float:left;
    height:auto;
    dt,dd{
      height:auto;
}
}
}
button{
  background-color:$main-color;
  color:$first-color;
  border:$first-color solid 1px;
  height:20px;
  padding: 1px 6px;
  line-height:20px\9;
}
.userhome_left{
  /*width:30%;*/
  width:240px;
  overflow:hidden;
  margin-right:10px;
  .content{
    font-size:20px;
    text-align:center;
  }
}
.userhome_right{
  width:70%;
  min-width:650px;
  min-height:300px;
}
.content{
  padding:5px;
}
.clearer{
	height:1px;
	overflow:hidden;
	margin-top:-1px;
        clear:both;
}
.powerby{
  margin-bottom:20px;
}

/* Easy Slider */
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:650px;
		height:300px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(/images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(/images/btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */
/*purr*/
#purr-container {
        position: fixed;
        top: 0;
        right: 0;
}

.notice {
        position: relative;
        width: 324px;
}
        .notice .close  {position: absolute; top: 50px; right: 30px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(./purr-example/purrClose.png) no-repeat 0 10px;}

.notice-body {
        min-height: 50px;
        padding: 22px 22px 0 22px;
        background: url(./purr-example/purrTop.png) no-repeat left top;
        color: #f9f9f9;
}
        .notice-body img        {width: 50px; margin: 0 10px 0 0; float: left;}
        .notice-body h3 {margin: 0; font-size: 1.1em;}
        .notice-body p          {margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}

.notice-bottom {
        height: 22px;
        background: url(./purr-example/purrBottom.png) no-repeat left top;
}
