<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:title) ? yield(:title) + t('title') : t('title') %></title>
  <meta name="description" content="<%= content_for?(:desc) ? yield(:desc) + t('desc') : t('desc') %>"/>
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) + t('keywords') : t('keywords') %>"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--[if IE]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= yield(:head) %>
  </head>
  <body>
    <header><%= render :partial => 'head' %></header>
