<footer class="m">
  <div class="c friendslinks"></div>
  <div class="powerby">神马价 Copyright © 2011 DestinyD(destinyd_ror^163.com 请吧^改为@). All Rights Reserved.</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2f0afc08c9f9ed613d6533a1fcfec691' type='text/javascript'%3E%3C/script%3E"));
</script>
</footer>

