<% session['loc'] = request.location if session['loc'].blank? %>
<% @loc = session['loc']%>
<div class='head_left'>
  <ul>
    <li><a href='/' alt='折扣网'><span>神马价</span></a></li>
    <li class="current"><a href='/' alt='记账'><span class="current">记账</span></a></li>
    <li>您的位置:<%=@loc.city%></li>
  </ul>
</div>
<div class='head_login'>
<% if user_signed_in? %>
 <%= render :partial =>'is_login' -%>
<% else %>
 <%= render :partial =>'login' -%>
<% end %>
</div>
