<% session['loc'] = request.location if session['loc'].blank? %>
<% @loc = session['loc']%>
<div class='head_left'>
  <ul>
    <li><a href='/' alt='折扣网'><div>神马价</div></a></li>
    <li<%# class="current"%>><a href='/prices/new' alt='记账'><div>记账</div></a></li>
    <li><a href='/goods/new' alt='晒物'><div>晒物</div></a></li>
    <li>您的位置:<%=@loc.city%></li>
  </ul>
</div>
<div class='head_login'>
<% if user_signed_in? %>
 <%= render :partial =>'is_login' -%>
<% else %>
 <%= render :partial =>'login' -%>
<% end %>
</div>
