<div class="l in_l">
  <h3><%=title %><span style='float:right;font-size:12px'><%= link_to "更多",section_path %> </span></h3>
  <ul>
    <% things.each do |thing| %>
    <li><%= link_to thing,thing %></li>
    <% end %>
  </ul>
</div>
