<h3>控制面板</h3>
<div class="content">
  <%= link_to t('action.userhomes.index'), userhome_root_path %><br />
  <%= link_to t('action.userhomes.costs'), userhome_costs_path %>
  <%#= link_to t('activerecord.models.integral'),'/userhomes/integrals'%>
</div>
